@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #282828;
}

/* metronome */
.menu{
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;

    flex-direction: row;
    
    height: 13vh;
    margin: 15px;
    border-radius: 5px;

    border-radius: 10px;
    background: radial-gradient(#e18174, #d15746);   
}

.metronome {
    display: flex;


    padding-top: 9px;    
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.bpm-display {
    margin-top: 27px;
    margin-left: 25%;
    width: 9%;
    height: 100%;
    text-align: center;
    color: #ffffffd2;
}
.bpm-display .tempo {
    font-size: 2em;
}

.tempo-text {
    font-size: .1em;
    text-transform: uppercase;
    text-align: center;
}

.tempo-settings {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
    margin-top: 33px;
    width: 30px;
    height: 30px;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}
.tempo-settings .adjust-tempo-btn:hover {
    background: #fa545c;
    color: #fff;
}
.tempo-settings .decrease-tempo {
    line-height: 25px;
}
.tempo-settings .increase-tempo {
    line-height: 32px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70%;
    height: 100%;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    margin-top: -8px;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

.start-stop {

    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #fa545c;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    margin: 0;
    margin-top: 25px;
    cursor: pointer;
}

.start-stop:hover {
    background: #ff656c;
}
.measures {
    margin-top: 38px;
    margin-right: 33%;
    display: flex;
    justify-content: center;
}
.measures .stepper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    
    
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}
.measures .stepper:hover {
    background: #ff656c;
    color: #fff;
}
.measures .add-beats {
    line-height: 20px;
}
.beats-per-measure-text {
    text-align: center;
    font-size: 0.5em;
    text-transform: uppercase;
}

/* drumKit */
.drumkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 43px;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 83);
}

.pad {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
    flex: 1 0 calc(33.333% - 20px);
    background: radial-gradient(#e18174, #d15746);
    border-radius: 10px;
}

.pad img {
    width: 150px;
    pointer-events: none;
}